html,
body,
.root {
  height: 100%;
}

body {
  line-height: 1.5;
}

body,
.app {
  background: #e9f1f1;
}

.hero {
  width: 100%;
  position: relative;
  background-image: url('./icons/bookstack.jpg');
  background-size: cover;
  height: 400px;
  background-position: center;
  border: 1px solid #979797;
  box-shadow: 0 0 10px 0 #979797;
}

.hero blockquote {
  box-sizing: border-box;
  background-color: rgba(131, 158, 177, 0.329);
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 90%;
  color: #fff;
  padding: 1em;
  margin: 1em 1em 1em 0;
  font-family: 'Helvetica-Light';
  font-size: 20px;
  line-height: inherit;
  font-style: italic;
}

.hero-title {
  padding-left: 50px;
  font-family: Noteworthy;
  font-weight: normal;
  font-size: 48px;
  color: #000000;
  margin: 3em 4em;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.50);
}

.bookshelf-container {
  padding: 60px 120px;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  margin-bottom: 60px;
  background: #FFFFFF;
  box-shadow: 10px 10px 10px rgba(202, 196, 196, 0.384);
  border-radius: 15px;
}

/* TODO: make hero and quote responsive */
@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  font-family: Noteworthy;
  font-size: 25px;
  margin: 20px;
  padding: 1em;
  color: #000000;
  text-align: left;
  border-bottom: 1px solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url('./icons/AddButton.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  font-size: 0;
}

.open-search a:hover {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(131, 158, 177, 0.329);
  box-shadow: 0 5px 40px rgba(10, 10, 10, 0.19);
}

/* search page */

.search-books-bar {
  width: 100%;
  top: 400px;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  font-family: 'Helvetica-Light';
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
  cursor: pointer;
}

.search-books-results {
  padding: 80px 10px 20px;
}

.no-results {
  font-family: 'Helvetica-Light';
  float: left;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;

}

.book {
  width: 140px;
}

.book-title,
.book-authors {
  font-family: Helvetica-Light;
  font-size: 0.9em;
}

.book-title {
  margin-top: 10px;
  /* font-size: 13px; */
  color: #000000;
}

.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background: #60ac5d; */
  background-image: url('./icons/ArrowButtonLrg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-shelf-changer:hover {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  background-size: 60px;
  background-color: rgba(131, 158, 177, 0.329);
  box-shadow: 0 5px 15px 2px rgba(20, 10, 10, 0.4);
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}

.book-cover-title {
  width: 128;
  height: 193;
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}